<div><!-- choose file -->
	<div ng-show="imageOperation">
		<div id="operationArea" style="height:80px;">
			<div id="cropOperateBtn" style="display:none">
				<button title="crop photo" type="button" class="btn btn-default" ng-click="cropImg()">
				  Crop Image
				</button>
				<button title="Back to photo list" type="button" class="btn btn-default" ng-click="sendImg()" ng-show="!showOriginImage">
					Upload File
				</button>
				<button title="Recrop photo" type="button" class="btn btn-default" ng-click="cancelCrop()" ng-show="!showOriginImage">
					ReCorp Image
				</button>
			</div>
		</div>
		<div id="cropResult" ng-show="!showOriginImage">
		</div>
	</div>
</div>		
