<!-- main -->
<div id="photo-list">
	<div class="row">
		 <div class="col-md-4">
			<button title="a new photo" type="button" class="btn btn-default" ng-click="addInfo()">
		  		<span class="glyphicon glyphicon-plus"></span>Add
			</button>
		 </div>
	</div><!-- /.row -->
	<div class="space-line"></div>
	<div id="list-area" class="row list-area photo-list">
	  <div class="col-sm-6 col-md-4" ng-repeat="photo in photos | filter:query">
		<div class="thumbnail">
		  <img ng-src="{{photo.thumbnail_url}}" alt="...">
		  <div class="caption">
			<h4>ID:{{photo.id}}</h4>
			<h4>{{photo.state}}</h4>
			<div class="btn-group">
			  <button title="Delete" type="button" class="btn btn-default" ng-click="delete(photo)"> Delete </button>
			</div>
		  </div>
		</div>
	  </div>
	</div>
</div>

<script type="text/ng-template" id="addPhotoInfo.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Photo Notice</h3>
    </div>
    <div class="modal-body">
    	{{info}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>